* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game {
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@font-face {
  font-family: 'upheavtt';
  src: url('../assets/fonts/upheavtt.ttf') format('truetype');
}
@font-face {
  font-family: 'Font_soulsV2_Body-Regular';
  src: url('../assets/fonts/Font_soulsV2_Body-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Font_soulsV2_Title-Regular';
  src: url('../assets/fonts/Font_soulsV2_Title-Regular.ttf') format('truetype');
}